<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    
    <bean id="IndexAction" class="com.apairl.action.IndexAction" scope="prototype"  />
	<bean id="ResultMessage" class="com.apairl.action.ResultMessage" scope="prototype"  />
	<bean id="AdminInterceptor" class="com.apairl.interceptor.AdminInterceptor" scope="prototype" />
	<bean id="LoginInterceptor" class="com.apairl.interceptor.LoginInterceptor" scope="prototype" />
	
	
	<bean id="SlideAction" class="com.apairl.action.SlideAction" scope="prototype">
		<property name="slideDAO">
			<ref bean="SlideDAO" />
		</property>
	</bean>
	
	<bean id="ProductUrlAction" class="com.apairl.action.ProductUrlAction" scope="prototype">
		<property name="productUrlDAO">
			<ref bean="ProductUrlDAO" />
		</property>
		<property name="productDAO">
			<ref bean="ProductDAO" />
		</property>
	</bean>
	
	<bean id="CustomerAction" class="com.apairl.action.CustomerAction" scope="prototype">
		<property name="customerDAO">
			<ref bean="CustomerDAO" />
		</property>
		<property name="kabupatenDAO">
			<ref bean="KabupatenDAO" />
		</property>
	</bean>
	
	<bean id="JsonCustomer" class="com.apairl.json.JsonCustomer" scope="prototype">
		<property name="customerDAO">
			<ref bean="CustomerDAO" />
		</property>
	</bean>
	
	<bean id="ExchangeAction" class="com.apairl.action.ExchangeAction" scope="prototype">
		<property name="exchangeDAO">
			<ref bean="ExchangeDAO" />
		</property>
	</bean>
	
	<bean id="CategoryAction" class="com.apairl.action.CategoryAction" scope="prototype">
		<property name="categoryDAO">
			<ref bean="CategoryDAO" />
		</property>
	</bean>
	
	<bean id="JsonRegion" class="com.apairl.json.JsonRegion" scope="prototype">
		<property name="provinsiDAO">
			<ref bean="ProvinsiDAO" />
		</property>
		<property name="kabupatenDAO">
			<ref bean="KabupatenDAO" />
		</property>
	</bean>
	
	<bean id="ProductAction" class="com.apairl.action.ProductAction" scope="prototype">
		<property name="productDAO">
			<ref bean="ProductDAO" />
		</property>
		<property name="typeDAO">
			<ref bean="TypeDAO" />
		</property>
		<property name="stockDAO">
			<ref bean="StockDAO" />
		</property>
		<property name="categoryDAO">
			<ref bean="CategoryDAO" />
		</property>
		<property name="productSrcDAO">
			<ref bean="ProductSrcDAO" />
		</property>
		<property name="srcDAO">
			<ref bean="SrcDAO" />
		</property>
		<property name="sizeDAO">
			<ref bean="SizeDAO" />
		</property>
		<property name="colorDAO">
			<ref bean="ColorDAO" />
		</property>
	</bean>
	
	<bean id="CartAction" class="com.apairl.action.CartAction" scope="prototype">
		<property name="productDAO">
			<ref bean="ProductDAO" />
		</property>
		<property name="stockDAO">
			<ref bean="StockDAO" />
		</property>
		<property name="exchangeDAO">
			<ref bean="ExchangeDAO" />
		</property>
		<property name="cartDAO">
			<ref bean="CartDAO" />
		</property>
		<property name="cartProductDAO">
			<ref bean="CartProductDAO" />
		</property>
		<property name="sizeDAO">
			<ref bean="SizeDAO" />
		</property>
		<property name="colorDAO">
			<ref bean="ColorDAO" />
		</property>
	</bean>
	
	<bean id="TypeAction" class="com.apairl.action.TypeAction" scope="prototype">
		<property name="typeDAO">
			<ref bean="TypeDAO" />
		</property>
	</bean>
	
	<bean id="OrderAction" class="com.apairl.action.OrderAction" scope="prototype">
		<property name="orderDAO">
			<ref bean="OrderDAO" />
		</property>
		<property name="orderProductDAO">
			<ref bean="OrderProductDAO" />
		</property>
		<property name="cartProductDAO">
			<ref bean="CartProductDAO" />
		</property>
		<property name="orderShipDAO">
			<ref bean="OrderShipDAO" />
		</property>
		<property name="stockDAO">
			<ref bean="StockDAO" />
		</property>
		<property name="kabupatenDAO">
			<ref bean="KabupatenDAO" />
		</property>
		<property name="paymentMethodDAO">
			<ref bean="PaymentMethodDAO" />
		</property>
	</bean>
	
	<bean id="ShipTypeAction" class="com.apairl.action.ShipTypeAction" scope="prototype">
		<property name="shipTypeDAO">
			<ref bean="ShipTypeDAO" />
		</property>
	</bean>
	
	<bean id="ProvinsiAction" class="com.apairl.action.ProvinsiAction" scope="prototype">
		<property name="provinsiDAO">
			<ref bean="ProvinsiDAO" />
		</property>
	</bean>
	
	<bean id="KabupatenAction" class="com.apairl.action.KabupatenAction" scope="prototype">
		<property name="provinsiDAO">
			<ref bean="ProvinsiDAO" />
		</property>
		<property name="kabupatenDAO">
			<ref bean="KabupatenDAO" />
		</property>
	</bean>
	
	<bean id="AdminAction" class="com.apairl.action.AdminAction" scope="prototype">
		<property name="stockDAO">
			<ref bean="StockDAO" />
		</property>
		<property name="adminDAO">
			<ref bean="AdminDAO" />
		</property>
		<property name="orderShipDAO">
			<ref bean="OrderShipDAO" />
		</property>
		<property name="orderDAO">
			<ref bean="OrderDAO" />
		</property>
		<property name="productDAO">
			<ref bean="ProductDAO" />
		</property>
		<property name="customerDAO">
			<ref bean="CustomerDAO" />
		</property>
		<property name="kabupatenDAO">
			<ref bean="KabupatenDAO" />
		</property>
		<property name="paymentMethodDAO">
			<ref bean="PaymentMethodDAO" />
		</property>
	</bean>
	
   </beans>
